body {
  width: 400px;
  font-family: 'Roboto', sans-serif !important;
  padding: 8px;
}
#authInput {
  width: 100%;
  margin-bottom: 8px !important;
}

.footer {
  height: 21px;
  margin-left: auto;
  margin-right: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: 0;
  box-sizing: border-box;
  width: fit-content;
}
.footer > input {
  margin: 0;
}